{%  set title = "Welcome2" %}
{% extends "layout.twig" %}
{% block content %}
  <h1>Welcome 2!</h1>
  <h2>Teste Variable Type</h2>

  {% if isId(test) == 1 %}
    <p>Type ID = <b>{{test}}</b></p>
  {% endif %}

  {% if isText(test) == 1 %}
    <p>Type Text = <b>{{test}}</b></p>
  {% endif %}
{% endblock %}