/* Example Stylesheet */
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#content{
  min-height: 90vh;
  padding: 20px;
  box-sizing: border-box !important;
  padding: 20px;
  width: 100%;
}
#content h1 {
  color: rgba(0,0,0,.5);
}

#content h2 {
  color: rgba(0,0,0,.3);
}

#footer{
  position: relative !important;
  padding: 10px;
}

.w100l100 {
  width: 100%;
  min-height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p, .message {
  color: rgba(0,0,0,.7);
}

.message{
  font-size: 1.5rem;
  font-weight: lighter;
}

.input-hidden {
  visibility: hidden; 
  position: absolute;
}

.map {
  justify-content: flex-start !important;
  flex-direction: column !important;
}

.map table {
  border: solid 1px #ccc;
  border-spacing: 0px;
  min-width: 80%;
}


.map tr td{
  font-size: .95rem;
}

.map .hd > td{
  background-color: #ccc;
  border: solid 1px white;
  color: white;
  font-size: .9rem !important;
}

.map table td {
  border: solid 1px #ccc;
  border-spacing: 1px;
  padding: 4px;
}
